@charset "UTF-8";
/* CSS Document */

body {
	text-align: center;
	font-family: Helvetica;
	background-color: white;
	color: white;
}

h1 {
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	color: gray;
	text-align: center;
}

h3 {
	font-size: 23px;
	font-weight: bold;
	color: gray;
	text-align: center;
}

h3.white {
	color: white;
	background-image: url(../images/the-flatiron-building.png);
}

p {
	font-size: 14px;
	color: gray;
}

nav {
	padding: 20px 0px;
	text-align: center;
}

nav a {
	color: white;
	font-size: 18px;
}

.container {
	width: 500px;
  	margin: 20px auto 0 auto;
}

#header {
	background-image: url(../images/the-flatiron-building.png);
	opacity: 0,5;
	padding: 20px 0px;
}

#process {
	float: left;
	position: relative;
	text-align: center;
	width: 1000px;
	left: -50%;
}

.child {
	/*position: relative;*/
	left: 50%;
	display: inline-block;
	
}

#footer {
	font-size: 11px;
	background-color: dimgray;
	text-align: left;
	color: white;
}

#footer a {
	color: white;
	margin-right: 10px;
}

#footer span {
	margin: 0px 20px;
}

#footer p {
	padding: 10px 0px;
}

.clear {
	clear: both;
}

.child {
	float: left;
	left: 50%;
	width: 30%;
}